/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/

.wrap,
.woocommerce-page #container #content {
  //width: 1140px;
}

#matching-game {

	&.landscape .matching-image{
		height:100px;
		max-width:160px;
	}

	
	.matching-image,
	&.portrait .matching-image {
		height:170px;
		max-width:135px;
	}

}

